@{
    ViewBag.Title = "About FamilyPi";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I decided to create this web application to hold all kinds of information about baking. There are a plethora of recipes to look through from my own personal collection of recipes. I have made each one of these myself and I am happy to share them with you! Along with recipes there is a list of ingredient substituions that you can use in any of the provided recipes or even any of your own. There is at least of substitution for each ingredient on the list and some even have two or three different substitution options! Please don't forget to check out the tip page which is full of all kinds of tips and tricks as well as an explanation of some of the baking jargin you might come by in any of the recipes. Finally, we have a conversion list with all kinds of baking measurement conversions which can be useful when you are halving a recipe. My hope for this application is to be a home base for users to have all the information you would need for baking all in one space!</p>
